@model User
@{
    ViewBag.Title = "Мобильные телефоны";
    Layout = "_Layout";
}
<div class="table_section">
    <img src="@Model.Avatar" class="img-thumbnail">
    <h1>@Model.Login</h1>
    <h3>Фотографий:@Model.Photoscount</h3>
    <a asp-action="Subscribers" asp-controller="Instagram"><h3>Подписчиков:@Model.Subscriberscount</h3></a>
    <a asp-action="Subscriptions" asp-controller="Instagram"><h3>Подписок:@Model.Subscriptionscount</h3></a>
    <p>@Model.UserDescription</p>
    <a asp-action="Add" asp-controller="Photos" asp-route-userid="@ViewBag.UserId">Загрузить фото</a><br />
    <a asp-area="" asp-controller="Instagram" asp-action="SendEmailInfo">Отправить информацию об аккаунте на Email</a>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var photo in Model.Photos)
        {
            <div class="col">
                <div class="card">
                    <a asp-action="MainPhoto" asp-route-id="@photo.Id"><img src="@photo.Picture" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        }
    </div>
</div>